<html>
    <head>
        <link rel="stylesheet" href="styles.css">
</head>
   <body>
      <h1 > Delete Task </h1>
      <br>
      <h2>
          <a href="/" >Insert Task</a>
          <a href = "/listAllTasks" >Get all tasks</a>
          <a href = "/updateTaskStatus" >Update task status</a>
      </h2>

      <form action = "/deletetaskdata" method ="POST">
        Task ID <input type="number" name= "taskid" /><br><br>  
        <button>Submit</button>

      </form> 
        <form action = "/deletecompletedtasks" method ="POST">
        <button>Delete completed task</button>
        

        <form action = "/deletecompletedtask1" method ="POST">
          <button>Delete Ctask and duteD passed</button>
      </form>
   </body>
</html>